.menuList{
    display: block;
    justify-content: space-around;
    // width: 200px;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
    color: white;
    overflow: hidden;
    text-align: center;
    div{
        cursor: pointer;
        font-weight: 500;
        margin: 20px;
        padding: 10px;
    }
    .cross{
        display: none;
    }
    .active{
        // text-decoration: underline;
        background: rgba(42, 6, 86, 0.695);
    }
    @media screen and (max-width: 900px) {
        display: block;
        position: absolute;
        top: 0;
        width: 70%;
        background: var(--primary-mobile-color);
        .cross{
            display: block;
            position: absolute;
            right: 10px;
            top: 0px;
        }
    }
}
.burgerMenu{
    margin: 10px;
    div{
        border: 2px solid;
        width: 20px;
        margin: 2px;
    }
}