.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

:root {
  --primary-color: rgba(69, 18, 132, 0.695);
  --primary-mobile-color: rgb(69, 18, 132);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.splitScreen{
  display: grid;
  grid-template-columns: 15% 85%;
}
.pageContainer{
  height: 100vh;
  display: grid;
  grid-template-rows: 12% 88%;
}
.verticalAlign{
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
